@use "Content/base/colors";
@use "Content/utilities/mixins";
//Updated and Delete Buttons

.updateDeleteButtons{
    color: colors.$color-Cul-Blue;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.editBtn , .deleteBtn{
   @include mixins.editDeleteButtonTransition;
 }