@model ShiftTracker.Areas.Shifts.Models.DTO.ShiftDto;

<form>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
       
        <select id="ShiftFormRunIdInput" class="form-select" aria-label="Default">
            <option selected>Select Run</option>
            @foreach ( var item in ViewBag.runNumbers )
            {
                <option class="option" value="@item.Item1">@item.Item2</option>
            }
        </select>

        <label for="ShiftFormDateInput" class="form-label">Date</label>
        <input type="date" class="form-control" id="ShiftFormDateInput"  placeholder="Enter Date">
    </div>

    <div class="form-group">
        <label for="ShiftFormStartTimeInput" class="form-label">Shift Start</label>
        <input type="time" class="form-control" id="ShiftFormStartTimeInput"  placeholder="Enter Shift End">
    </div>
    <div class="form-group">
        <label for="ShiftFormEndTimeInput" class="form__label">Shift Finish</label>
        <input type="time" class="form-control" id="ShiftFormEndTimeInput" placeholder="Enter Shift Finish TIme">
    </div>
    <div class="form-group">
        <label for="ShiftFormDriveTimeInput" class="form-label">Drive Time</label>
        <input type="time" class="form-control" id="ShiftFormDriveTimeInput" placeholder="Enter Drive Time">
    </div>
    <div class="form-group">
        <label for="ShiftFormWorkTimeInput" class="form-label">Work Time</label>
        <input type="time" class="form-control" id="ShiftFormWorkTimeInput" placeholder="Enter Work Time">
    </div>
    <div class="form-group">
        <label for="ShiftFormOtherWorkInput" class="form__label">Other Work</label>
        <input type="time" class="form-control" id="ShiftFormOtherWorkInput" placeholder="Enter Other Work">
    </div>
    
    <div id="breakForm" class="breakForm">
        
    </div>
    
    <input type="submit" class="btn btn-primary" id="form__btn--submit" value="Submit">
</form>

<script src="js/index.bundle.js"></script>