@using ShiftTracker.Pages.Pages.Shared
@model ShiftTracker.Areas.Shifts.Models.DTO.ShiftDto;

<form asp-area="Shifts" asp-controller="Home" asp-action="Create" method="post"   >
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label for="runId">Run Number:</label> 
        <select asp-for="RunId" id="runId">
            @foreach ( var item in ViewBag.runNumbers )
            {
                <option value="@item.Item1">@item.Item2</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" asp-for="Date" placeholder="Enter Date">
    </div>
    <div class="form-group">
        <label for="StartTime">Shift Start</label>
        <input type="time" class="form-control" id="StartTime" asp-for="StartTime" placeholder="Enter Shift End">
    </div>
    <div class="form-group">
        <label for="EndTime">Shift Finish</label>
        <input type="time" class="form-control" id="EndTime" asp-for="EndTime" placeholder="Enter Shift Finish TIme">
    </div>
    <div class="form-group">
        <label for="DriveTime">Drive Time</label>
        <input type="time" class="form-control" asp-for="DriveTime" id="DriveTime" placeholder="Enter Drive Time">
    </div>
    <div class="form-group">
        <label for="WorkTime">Work Time</label>
        <input type="time" class="form-control" asp-for="WorkTime" id="WorkTime" placeholder="Enter Work Time">
    </div>
    <div class="form-group">
        <label for="OtherWorkTime">Other Work</label>
        <input type="time" class="form-control" asp-for="OtherWorkTime" id="OtherWorkTime" placeholder="Enter Other Work">
    </div>
    <button type="button">Add Break</button>
    <input type="submit" value="Submit">
</form>


