@model ShiftTracker.Areas.Shifts.Models.DTO.ShiftDto;
<div class="createShiftContainer">
<form class="form__shiftForm">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form__shiftFormHeader">
        <div class="form-group ">
            <label for="ShiftFormRunIdInput">Run</label>
            <select id="ShiftFormRunIdInput" class="form-select" aria-label="Default">
                @foreach ( var item in ViewBag.runNumbers )
                {
                    <option class="option" value="@item.Item1">@item.Item2</option>
                }
            </select>
        </div>
        
        <div class="form-group">
            <label for="ShiftFormDateInput" class="form-label">Date</label>
            <input type="date" class="form-control" id="ShiftFormDateInput" placeholder="Enter Date">
        </div>
    </div>
    <div class="form_shiftFormMid">
    <div class="form-group">
        <label for="ShiftFormStartTimeInput" class="form-label">Shift Start</label>
        <input type="time" class="form-control" id="ShiftFormStartTimeInput"  placeholder="Enter Shift End">
    </div>
    <div class="form-group">
        <label for="ShiftFormEndTimeInput" class="form-label">Shift Finish</label>
        <input type="time" class="form-control" id="ShiftFormEndTimeInput" placeholder="Enter Shift Finish TIme">
    </div>
    <div class="form-group">
        <label for="ShiftFormDriveTimeInput" class="form-label">Drive Time</label>
        <input type="time" class="form-control" id="ShiftFormDriveTimeInput" placeholder="Enter Drive Time">
    </div>
    <div class="form-group">
        <label for="ShiftFormWorkTimeInput" class="form-label">Work Time</label>
        <input type="time" class="form-control" id="ShiftFormWorkTimeInput" placeholder="Enter Work Time">
    </div>
    <div class="form-group">
        <label for="ShiftFormOtherWorkInput" class="form__label">Other Work</label>
        <input type="time" class="form-control" id="ShiftFormOtherWorkInput" placeholder="Enter Other Work">
    </div>
    </div>
    <div id="breakForm" class="breakForm">
        
    </div>
    
    <input type="submit" class="btn btn-primary" id="form__btn--submit" value="Submit">
</form>
</div>
<script src="js/index.bundle.js"></script>